*{
  padding: 0px;
  margin: 0px;
}
body{
  background: rgb(177, 172, 172);
}

.container{
  padding: 0 .5rem;
}

.btn{
  display: inline-block;
  border:none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666;
}